form{
  margin: 30px 0px;
}

.viewer{
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  overflow-y: auto;
  margin-bottom: 10px;
}

span{
  margin-top: 3px;
}

.drop-area {
  width: 100%;
  height: 80%;
  margin: 20px;
  border: dashed  #5490b8 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

